body {
    margin: 0;
    font-size: 12px;
  }

      .filter {
          grid-area: filter;
          min-height: 200px;
      }

      .sidebar2 {
          grid-area: sidebar2;
      }

      .content {
          grid-area: content;
          min-height: 600px;
      }

      .banner {
          grid-area: banner;
          padding: 0 !important;
      }
      .header {
        grid-area: header;
      }
      .menu {
        grid-area: menu;
        height: 56px;
      }
      .search {
        grid-area: search;
        height: 38px;
      }

      .footer {
          grid-area: footer;
      }

      .wrapper {
          background-color: #fff;
          color: #444;
      }

    .wrapper {
      display: grid;
      margin: 0 auto;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "search"
       "menu"
       "filter"
       "content"
       "sidebar2"
       "banner"
       "footer"
    }

      @media only screen and (min-width: 600px)   {
          .wrapper {
              grid-gap: 1em;
              grid-template-columns: auto 170px 760px auto;
              grid-template-areas:
              "header header header header"
              "search search search search"
              "menu menu menu menu"
              ".filter content ."
              ".banner content ."
              ". . content ."
              "footer footer footer footer";
          }
      }

  .box {
    background-color: #444;
    color: #fff;
  }

  .header,
  .footer {
    background-color: #999;
  }

  .sidebar,
  .filter,
  .sidebar2 {
    background-color: #ccc;
    color: #444;
  }


  .placeholder {
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeload;
  animation-name: placeload;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 1200px 104px;
  position: relative;

  }
  @keyframes placeload {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
